<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все новости</h1>
<h3>{{ time_now|date:'M d Y' }}</h3>
<hr>

{% if category_news_list %}

<!--Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).-->
<h5>Количество новостей : {{ news|length }}</h5>
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% else %}
<p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
{% endif %}

<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст статьи</td>
        <td>Категория</td>
    </tr>
    {% for post in category_news_list %}
    <tr>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.time_in|date:'d.M.Y.H.i' }}</td>
        <td>{{ post.text_post|censor|truncatechars:40 }}</td>
        <td>{% for category in post.category.all %}
            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}